<div role="main" class="ui-content">
        <div class="ui-body ui-body-a ui-corner-all loxberry-logo">
                <div style="margin: 5%;">

                        <h2>Settings</h2>
                        <p>After creating the Nibe Uplink application, the following information must be copied from the
                                website</p>
                        <form method="post" data-ajax="false" name="main_form" id="main_form" action="./saveConfig.cgi">
                                <input type="hidden" id="lang" name="lang" value="<!--$lang-->">
                                <div class="form-group">
                                        <table class="formtable" border="0" width="100%">
                                                <tr>
                                                        <td width="25%">
                                                                <label id="label_nibe_api_client_id">Identifier:</label>
                                                        </td>
                                                        <td width="50%" colspan="2">
                                                                <input id="nibe_api_client_id" name="nibe_api_client_id" type="text" class="textfield" value="<TMPL_VAR nibe_api_client_id ESCAPE=HTML>">
                                                        </td>
                                                        <td width="25%">
                                                                &nbsp;
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td width="25%">
                                                                <label id="label_nibe_api_client_secret">Secret:</label>
                                                        </td>
                                                        <td width="50%" colspan="2">
                                                                <input id="nibe_api_client_secret" name="nibe_api_client_secret" type="text" class="textfield" value="<TMPL_VAR nibe_api_client_secret ESCAPE=HTML>">
                                                        </td>
                                                        <td width="25%">
                                                                &nbsp;
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td width="25%">
                                                                <label id="label_redirect_url">Redirect URL:</label>
                                                        </td>
                                                        <td width="50%" colspan="2">
                                                                <input id="redirect_url" name="redirect_url" type="text" class="textfield" value="<TMPL_VAR redirect_url ESCAPE=HTML>">
                                                        </td>
                                                        <td width="25%">
                                                                &nbsp;
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td width="25%">&nbsp</td>
                                                        <td width="50%" colspan="2">
                                                                <input id="submit" name="submit" type="submit" value="Save">
                                                        </td>
                                                        <td width="25%">
                                                                &nbsp
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td></td>
                                                        <td colspan=3>
                                                                <div id="form-error-message" class="form-error-message"></div>
                                                        </td>
                                                </tr>
                                        </table>
                                </div>
                        </form>
                        <script>
                                // Trim inputs on blur
                                document.querySelectorAll('.textfield').forEach(input => {
                                    input.addEventListener('blur', function() {
                                        this.value = this.value.trim();
                                    });
                                });

                                // Ensure trimmed values on form submit
                                document.getElementById('main_form').addEventListener('submit', function(e) {
                                    document.querySelectorAll('.textfield').forEach(input => {
                                        input.value = input.value.trim();
                                    });
                                });
                        </script>
                </div>
        </div>
</div>